.idea
out
*.iml
Будет удалено src/ru/gva/demo/readAndWriteThroughStreams/combo.txt
Будет удалено src/ru/gva/demo/readAndWriteThroughStreams/index.html
Будет удалено src/ru/gva/demo/readAndWriteThroughStreams/modals.html
Будет удалено src/ru/gva/demo/copyFiles/index(copy).txt
Будет удалено src/ru/gva/demo/copyFiles/index(copy_2).txt
/src/ru/gva/demo/downloadAllFiles/css/style.css
Будет удалено file
Будет удалено file0.png
Будет удалено file0.sadsad
Будет удалено file00.jpg
Будет удалено mp3
Будет удалено src/ru/gva/demo/downloadAllFiles/download/
Будет удалено src/ru/gva/demo/downloadAllFiles/img/
Будет удалено src/ru/gva/demo/downloadJPG/1.jpg
/src/ru/gva/demo/readAndWriteThroughStreams/combo.txt
/src/ru/gva/demo/readAndWriteThroughStreams/index.html
/src/ru/gva/demo/readAndWriteThroughStreams/modals.html
