.idea
out
*.iml
Будет удалено src/ru/gva/demo/readAndWriteThroughStreams/combo.txt
Будет удалено src/ru/gva/demo/readAndWriteThroughStreams/index.html
Будет удалено src/ru/gva/demo/readAndWriteThroughStreams/modals.html
